
@model Entities.DTOs.UserForLoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konuşarak Öğren</title>

    <link href="~/css/user.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
            {
                <div class="col-md-8 col-md-offset-2" id="panel">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">LOGIN</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 login_elements">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="input-lg" type="text" name="Email" placeholder="E-mail" id="email">
                                    <span>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger " })</span>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="input-lg" type="password" name="Password" placeholder="Password" id="password">
                                    <span>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger " })</span>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Register","Auth")" class="btn btn-default btn-lg"  ><strong>Register</strong></a>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-default btn-lg" type="submit" id="btn_login"><strong>Login</strong></button>
                                </div>
                            </div>
                            @if (ViewBag.Error != "" && ViewBag.Error != null)
                        {
                            if (ViewBag.Success != true)
                            {
                                <div class="row">
                                    <div class="alert alert-danger">
                                        <strong>@ViewBag.Error</strong>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="alert alert-success">
                                        <strong>@ViewBag.Error</strong>
                                    </div>

                                </div>
                            }
                        }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>