@model List<Entities.DTOs.ExamListDto>

@{
    ViewBag.Title = "Sınavlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string error = ViewBag.Error;
} 
                        @if (ViewBag.Error != "" && ViewBag.Error != null)
                        {
                            if (ViewBag.Success != true)
                            {
                                <div class="row">
                                    <div class="alert alert-danger">
                                        <strong>@ViewBag.Error</strong>
                                    </div>

                                </div>
                            }
                        }

    <div class="row">
        <div class="col-12"><h2>Exams</h2></div>

    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Başlık
                    </th>
                    <th>
                        Tarih
                    </th>
                    <th>
                        Sınav Giriş
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArticleTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExamCreationDate)
                        </td>
                        <td>
                            @Html.ActionLink("Start Exam", "StartExam", new { examId = item.ExamId })
                        </td>
                        <td>

                            @Html.ActionLink("Delete", "Delete", new { examId = item.ExamId })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
