
@model Entities.DTOs.ExamDto
@{
    ViewBag.Title = "Sınav başladı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/user.css" rel="stylesheet" />
<script src="~/js/jquery-1.10.2.min.js"></script>
<div class="row">
    <div class="col-md-12 ">
         @if (ViewBag.Error != "" && ViewBag.Error != null)
                        {
                            if (ViewBag.Success != true)
                            {
                                <div class="row">
                                    <div class="alert alert-danger">
                                        <strong>@ViewBag.Error</strong>
                                    </div>

                                </div>
                            }
                        }
        <div class="row">
            <div class="col-12">
                <h2 id="header">Answer The Following Questions According To The Paragraph</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="list-group-item alert-info">@ViewBag.RssTitle</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            @Html.Raw(ViewBag.RssContent)
                        </p>

                    </div>
                </div>

            
                <form class="form-control" id="form" action="@Url.Action("FinishExam","Exam")" method="post">
                    @Html.HiddenFor(x => x.ExamId)
                    <div class="row form-group " id="panel-question">
                        @for (var i = 0; i < 4; i++)
                        {





                            
                            <div class="col-md-6 form-group">
                   
                                <div class="row form-group col-12 ">
                                    <div class="input-group input-group-lg ">
                                        <span class="input-group-addon" id="sizing-addon1">Soru @(i + 1)</span>
                                        @Html.TextBoxFor(x => x.Questions[i].Text, new { @class = "form-control", @readonly = "readonly" })



                                    </div>

                                </div>
                                <div class="row " id="answers-@i">

                                   @{ List<string> a = new List<string>(){ "A", "B", "C", "D" };
                                       }
                                       @for (int k = 0; k < 4; k++)
                                    {
                                        @Html.HiddenFor(x => x.Questions[i].Answers[k].AnswerId, new { @id = "answerId-"+k })
                                        <div class="panel-answer-@i col-12 form-group ">
                                            <div class="input-group input-group-sm cevap-@k">
                                                <span class="input-group-addon" id="sizing-addon1">@a[k])</span>
                                                @Html.TextBoxFor(x => x.Questions[i].Answers[k].Text, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                                                @Html.HiddenFor(x => x.Questions[i].Answers[k].IsRight, new { @id = "IsRight-" + i })
                                               

                                            </div>

                                        </div>
                                    }
                                    
                                    


                                </div>


                            </div>



                        }
                    </div>
                    <div class="row">
                        <button class="btn btn-block btn-lg btn-primary " id="btn-complete" type="button">Complete Exam</button>


                    </div>
                </form>





            </div>

        </div>
    </div>
</div>

<script>
    
            
    
    function hiddenFalseByID(id) {
        $.each(["0", "1", "2", "3"], function (i, deger) {
            $(".panel-answer-" + id).find(".cevap-" + deger).find("#IsRight-" + id).val("false");
        });
    }
    $.each(["0", "1", "2", "3"], function (i, value) {
        $.each(["0", "1", "2", "3"], function (i, deger) {
            $(".panel-answer-" + value).find(".cevap-" + deger).find("#IsRight-" + value).val("false");
        
        $(".panel-answer-" + value).click(function () {
            hiddenFalseByID(value);
            $("#answers-" + value).find(".grey").removeClass("grey");
            $(this).addClass("grey");
            $(".panel-answer-" + value).find(".cevap-" + deger).find("#IsRight-" + value).val("false");


           

            $(this).find(":hidden").val("true");

            return false;
        });
        });
    });
    $("#btn-complete").click( function () {
        if ($(this).text() == "Sınavı Tamamla") {
            $(this).text("Sınav Bitti - Anasayfa ya dönmek için tıkla");
            $.each(["0", "1", "2", "3"], function (i, value) {
                $(".panel-answer-" + value).removeClass("grey");

                $.each(["0", "1", "2", "3"], function (k, deger) {
                    var isRight = $(".panel-answer-" + value).find(".cevap-"+deger).find("#IsRight-"+value).val()
                    var id = $("#answers-" + value).find("#answerId-"+deger).val();
                    if (isRight=="true") {
                        $.ajax({
                            type: "post",
                            async: false,
                            url: '@Url.Action("CheckAnswer", "Exam")',
                            data: { answerId: id, IsRight:isRight},
                            datatype: "json",
                            success: function (data) {
                                if (data != null) {
                                    var isTrue = data.data == "true";
                                    var classToAdd = ""
                                    if (isTrue) {
                                       classToAdd = "green";
                                    }
                                    else {
                                        classToAdd = "red";
                                    }
                                   $(".panel-answer-" + value).children(".cevap-" + deger).parent(".panel-answer-" + value).addClass(classToAdd);
                                    

                                }
                            },
                            error: function () {
                                alert("Something Happened ):");
                            }
                        });

                    }

                });
         

            });
        
        } else {
            window.location = '@Url.Action("Index", "Exam")';
        }
    });


</script>